@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-notifications/styles/material.css';

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Outfit', sans-serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  /* gap: 1rem; */
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

html {
  color-scheme: dark;
}

.divider {
  min-height: 2px;
  width: 350px;
  background-color: white;
}

.court {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.court-side {
  height: 150px;
  width: 300px;
  display: grid;
  overflow: hidden;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.court-square {
  position: relative;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

span {
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  padding: 0.5rem;
}

.opposite {
  background-color: rgb(212, 109, 122);
}

.outside {
  background-color: rgb(238, 167, 140);
}

.middle {
  background-color: rgb(180, 205, 194);
}

.setter {
  background-color: rgb(0, 180, 155);
}

.legend {
  display: flex;
  gap: 1rem;
}

.key-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.key-item > div {
  min-height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.court-square > span {
  font-size: 1.25rem;
}

.edit-mode {
  display: flex;
  align-items: center;
  width: fit-content;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

input[type='text'],
select {
  height: 25px;
  width: 80px;
  text-align: center;
}

label {
  margin-left: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.left,
.right {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

iframe {
  border-style: solid;
  border-width: 1px;
  background-color: grey;
}

.label {
  position: absolute;
  inset: auto auto 0 2px;
  font-size: 0.9rem;
}
